/* ESCALA DE GRISES */
$blanco: #ffff;
$gris-50: #fafafa;
$gris-100: #F5F5F5;
$gris-200: #EEEEEE;
$gris-300: #E0E0E0;
$gris-400: #BDBDBD;
$gris-500: #9E9E9E;
$gris-600: #757575;
$gris-700: #616161;
$gris-800: #424242;
$gris-900: #212121;
$negro: #0000;

/* COLORES PRINCIPALES */
$primario:#1A237E;
$secundario: #008a5e;

/* COLORES DE CONTROL*/
$exito:#4caf50;
$info:#00bcd4;
$advertencia:#ff9800;
$error: #f44336;
